

:root{
    /* colors */
    --Tomato :  hsl(4, 100%, 67%); 
    --Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
    color-scheme: light;

    /* Font Sizes */
    --font-size-200 :0.9rem ;
    --font-size-400: 1.2rem ; 
    --font-size-600: 2.5rem ; 


    /* Spacing */
    --space-small : 8px;
    --space-medium : 16px;
    --space-large : 24px;
    --space-extra-large:32px ;
    /* Border Radiuses */
    --border-round-small :0.5rem ; 
    --border-round-medium: 2rem ; 
    --border-round-full:100vmax;

    /* transitions */
    --ease-elastic : ease-in-out; 
    
    /* font */
    --font-Roboto: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
  
}


body{
    font: var(--font-Roboto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--Charcoal-Grey);
    flex-direction: column;
}
.card{
    display: flex;
    background-color: var(--White);
    width: 900px ;
    padding: 20px;
    border-radius: var(--border-round-medium);
}
.left{
    width:60% ; 
    padding: 20px 0 10px 40px;
}
h1{
    font-family: var(--font-Roboto);
    font-size: var(--font-size-600);
    color: var(--Dark-Slate-Grey);
    font-weight: 800;

}
p{
    font-family: var(--font-Roboto);
    max-width: 60ch;
    font-size: var(--font-size-400);
}
.right{
    width: 40%;
}
.right img {
    width:100% ; 
}
ul{
    
    margin-left: -50px;
    list-style: none;
    gap: var(--space-large);
    padding: 10px 0 10px 10px;

}
li{
    display: flex;
    margin-bottom: 10px;
    gap: var(--space-medium);
    padding-left: 40px;
    font-family: var(--font-Roboto);
    max-width: 60ch;
    font-size: var(--font-size-400);

    
}

/* form{
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

label{
    font-family: var(--font-Roboto);
    max-width: 60ch;
    font-size: var(--font-size-200);
    font-weight: bold;
    
}
input{
    width: 400px;
    height: 50px;
    /* text-indent: 1rem; */
    margin-top: 10px;
    border-radius: var(--border-round-small);
    border: 1px solid var(--Charcoal-Grey);  
    padding: 10px 20px; 
    margin-bottom: 20px;
}

 .card button{
    font-family: var(--font-Roboto);
    font-size: var(--font-size-200);
   
   background-color: var(--Dark-Slate-Grey);
   color: var(--White);
   width: 395px;
   height: 50px;
   border-radius: var(--border-round-small);
    text-align: center;
    cursor: pointer;

}
.validate span{
    font-size: 10px;
    font-family: var(--font-Roboto);
    color: var(--Tomato);
    padding-left: 200px;
}

.card-2{
  
    background-color: var(--White);
    width: 400px;
    height: 450px;
   
    border-radius: var(--border-round-medium);
    padding-left: 50px ;

}
.card-2 h2{
    font-family: var(--font-Roboto);
    font-size: var(--font-size-600);
    color: var(--Charcoal-Grey);
    font-weight: 800;

}
 
.card-2 img { 
    margin-top: 40px;
}
#confirmation{
    font-family: var(--font-Roboto);
    font-size: 14px;
    color: var(--Dark-Slate-Grey);
    font-weight: 500;
    margin-top: -10px;
    padding: 0 20px 0 0 ;
    justify-content: space-between;
}
.card-2 button{
    font-family: var(--font-Roboto);
    font-size: 14px;
   margin-top: 20px;
   background-color: var(--Dark-Slate-Grey);
   color: var(--White);
   width: 300px;
   height: 50px;
   border-radius: var(--border-round-small);
    text-align: center;
    cursor: pointer;
}

button:hover{
    background-color: var(--Tomato);
    transition: linear 1s;
}

@media (max-width: 768px) {
    body{
       
        padding: 0;
        margin: 0;
    }
    .card{
        flex-direction: column-reverse;
        width: 100%;
        padding: 0;
        margin: 0;
        border-radius: 0;
    }
  
    .right{
        width: 100%;
    }
    .left{
        width: 100%;
        margin: -10px 0 0 -10px;
 
      
    }
    .right img { 
        content: url(../img/signUp-Mobile.svg);
        width: 100%;
        border-bottom-left-radius: var(--border-round-small);
        border-bottom-right-radius: var(--border-round-small);
       
    }
    .card h1 {
        font-size: 36px ;
    }   
    
    .card p {
        font-size: 16px;
        max-width: 35ch;
      
    }.card ul{
        justify-content: center;

        
    }
    ul img{
        margin-top: 5px;
    }
    .card li {
        font-size: 16px;
        max-width: 40ch;
        align-items: start;
        line-height: 1.6em;
    }

    #email {
        width: 300px;
    }
    #valid-email{
        margin-left: -90px;
    }
   
    #card-button{
        width: 88%;
    }
    
    .card-2{
      min-height: 100vh;
      border-radius: 0;
    }
    #button-2{
       margin-top: 250px;
    }

}